/* 
.card{
    height: 200px;
    background-color: var(--cardBkgColor);
    color: var(--cardTextColor);
}

.card-title{
    text-align: center;
}

.card-subtitle{
    margin-left: 20px;
}
.card-text{
    margin-left: 20px;
}
 */