:root{
    --textColor: rgb(199, 251, 255);
    --backgroundColor: rgba(255, 255, 255, 0.4);;
    --clear: rgba(0, 0, 0, 0);
    --font-family: 'Sawarabi Mincho', sans-serif;
}

.jumbotron{
    color: var(--textColor);
    text-align: center;
    background-color: var(--clear);
    font-size: 1em;
}

body{
    background-color: var(--clear);
    color: var(--textColor);
    font-family: var(--font-family);
    background-image: url("/assets/images/woldBkg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.btn{
    color: var(--textColor);
    background-color: var(--backgroundColor);
    margin: 1em;
    
}